<div class="container">
 <div class="row">
  <div class="mx-auto">
   <h3>会員一覧</h3>

   <table class="table">
      <thead>
       <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
        <th colspan="4"></th>
       </tr>
      </thead>

      <tbody>
      <% @customers.each do |customer| %>
       <tr>
        <td><%= customer.id %></td>
        <td><%= link_to customer.full_name, admin_customer_path(customer.id) %></td>
        <td><%= customer.email %></td>
        <td>
          <% if customer.is_deleted == false %>
          <p class="text-success">有効</p>
          <% else %>
          <p class="text-secondary">退会</p>
          <% end %>
        </td>
       </tr>
       <% end %>
       <%= paginate @customers %>
      </tbody>
   </table>
  </div>
 </div>
</div>